html {
  background-image: linear-gradient(to bottom right, #ab5c98, #ea6116);
  background: -webkit-gradient(linear, left top, right bottom, from(#ab5c98), to(#ea6116)) fixed;
}

#window {
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  padding: 20px 5px 5px 5px;
  background-image: linear-gradient(to bottom, #6b6464, #7c7474);
  min-height: 320px;
  max-height : 420px;
  width: 920px;
  border: 1px solid;

}

#dossier {
  border-radius: 5px;
  min-height: 300px;
  max-height : 400px;
  width: 900px;
  background-color: #eee;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid;
  overflow-y:scroll;
}

#dossier .fichier {
  flex: 1 1 auto;
  width: 45%;
  max-width: 50%;
  height: 30px;
  border: 1px solid #eee;
}

#dossier .icon {
  height: 30px;
  display: inline;
/*  border: 1px solid;*/
  vertical-align: middle;
}

#dossier p {
  display: inline;
/*  border: 1px solid;*/
  margin: 0px;
  vertical-align: middle;
}

#dossier p:hover {
  cursor: default;
}

#dossier .fichier:hover {
  background-image: linear-gradient(to bottom, #f9fbfd, #ebf3fd);
  border: 1px solid #b8d6fb;
  border-radius: 3px;
}

#fileInput {
    visibility: hidden;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.suppr_div {
  max-width: 30%;
  margin: auto;
  text-align: center;
}

.suppr_button, .annule_button{
  width: 85px;
  background-color: #a3c5f5;
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}


