html {
  background-image: linear-gradient(to bottom right, #ab5c98, #ea6116);
  background: -webkit-gradient(linear, left top, right bottom, from(#ab5c98), to(#ea6116)) fixed;
}

main {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#articles, #options, #resultats {
  background-color: #EEE;
  border: 1px solid;
  border-radius: 10px;
  height: 600px;
}

#resultats {
  width: 52%;
}

#articles {
  width: 33%;
}

#options {
  width: 17%;
}

#texte {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 95%;
  border-radius: 10px;
}

.article {

}

.article:hover {
  cursor: pointer;
}

#numero, #label_numero, #label_mois, #mois1, #mois2 {
  margin-top: 25px;
}

#options > input:nth-child(8){
  margin-top: 25px;
}

.sections, #copier {
  width: 225px;
  margin: auto;
  margin-top:5px;
  display: block;
  border:none;
  padding:6px 0 6px 0;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555;
}

.sections:hover, #copier:hover {
  background: #BBB;
  cursor: pointer;
}

#copier {
 margin-top: 50px;
}

#label_nb_articles, #nb_articles {
 margin-top: 50px;
}
