html {
  background-image: linear-gradient(to bottom right, #ab5c98, #ea6116);
  background: -webkit-gradient(linear, left top, right bottom, from(#ab5c98), to(#ea6116)) fixed;
}

#console {
  background-color: black;
  color: #FFF;
  min-height: 100px;
  margin: 20px 5px 5px 5px;
  padding: 2px;
  border-radius: 5px;
  border: 5px solid #a4d5f2;
}

#corps {
  width: 75%;
  min-height: 700px;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #EEE;
}

#corps #titre {
  width: 80%;
  font-size: 1.5em;
  margin: 10px;
}

#corps #texte {
  width: 100%;
  min-height: 500px;
}

#corps #slide {
  width: 80%;
  margin: 40px 20px 20px 20px;

}

#corps #icon {
  margin-left: 20px;
  text-align: left;
}

#copy, #key_words, #injection, #guttenberg {
  border:1px solid;
  border-radius: 4px;
}

#copy:hover, #key_words:hover, #injection:hover, #guttenberg:hover {
  cursor: pointer;
  border:2px solid;
}

#proprietes {
  width:20%;
  min-height: 700px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: #EEE;
}

#date {
  width: 50%;
  margin: auto;
  margin-top: 5;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #FFF;
  border-radius:2px;
}

#date:before {
  content: "Date: ";
}

#ajouts input {
  width: 225px;
  margin: auto;
  margin-top: 5px;
  display: block;
  border:none;
  padding:6px 0 6px 0;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555;
}

#ajouts input:hover {
  background: #BBB;
  cursor: pointer;
}

#ajouts a {
  text-decoration: none;
}

#proprietes hr {
  margin-top : 10px;
  margin-bottom : 10px;
}

#key_word_nodal {
  background-color: #EEE;
  width: 60%;
  height: 250px;
  border-radius: 10px;
  border: 5px solid #5E5E5E;
  margin-left: 17%;
  top: 100px;
  position: absolute;
}

#key_word_saisie {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  display: block;
  padding:6px 0 6px 0;
}

#boutons_nodal {
  margin: auto;
  display: block;
  width: 200px;
}

#bouton_decoupe, #bouton_fermer {
  width: 100px;
  display: inline-block;
  border:none;
  padding:6px 0 6px 0;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555;
}

#bouton_decoupe:hover, #bouton_fermer:hover {
  background: #BBB;
  cursor: pointer;
}

#ajouts div {
  margin: auto;
  text-align: center;
  width: 225px;
}
#ajouts .short_button {
  width: 32%;
  display: inline-block;
}
