html {
  background-image: linear-gradient(to bottom right, #ab5c98, #ea6116);
  background: -webkit-gradient(linear, left top, right bottom, from(#ab5c98), to(#ea6116)) fixed;
}

#bloc {
  margin: auto;
  background-color: #FFF;
  width: 600px;
  word-wrap: break-word; /*Pas dans Wordpress*/
}

#bloc img {
  max-width: 590px;
  display: block;
  margin: auto;
}

.citations {
  display: inline-block;
  margin-left: 20px;
  padding-left: 5px;
  margin-right: 10px;
  border-left: 5px solid #999;
  font-style: italic;
}

#corps_texte {
  text-align: justify;
}
